@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

* {
    margin: 0px;
    padding: 0px; 
    font-size: 1em;
}

:root {
    --fonte3:'Roboto Mono', monospace;
}

html, body {
    min-height: 100vh;
    font-family: var(--fonte3);
    font-size: 1em;
}

b {
    padding-left: 18%;
}

p {
    padding-bottom: 40px;
    padding-left: 18%;
}

footer {
    background-color: rgb(17, 17, 32);
    color: white;
    text-align: center;
    padding: 10px;
    font-family: var(--fonte3);
}

footer a {
    text-decoration: none;
    color: rgb(0, 102, 255);
    font-weight: bolder;
}